* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f0f0f5;
}

.container {
  width: 80vw;
  max-width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: #c4c4c4 5px 5px 20px;
  font-size: 0.8rem;
}

.container p {
  line-height: 28px;
  font-size: 1rem;
}

.container-desafios {
  width: 80vw;
  max-width: 500px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: #c4c4c4 5px 5px 20px;
}

.container-botoes {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;

  background-color: #e02241;
  height: 3rem;
  width: auto;
  padding: 20px;
  margin: 20px 5px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  opacity: 0.8;
}

.aprovado,
.recuperacao,
.reprovado {
  color: #222;
  border-radius: 3px;
  padding: 1px 2px;
}

.aprovado {
  background: #75c46b;
}

.recuperacao {
  background: #feca54;
}

.reprovado {
  background: #ff5757;
}

a {
  color: inherit;
  color: #666;
}

a:hover {
  color: #000;
  transition: 0.2s;
}

li {
  list-style: none;
  margin-top: 5px;
}
